.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.menuLink {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: var(--primary);
  transition: all 0.1s ease-out;
  color: var(--text-over-primary);
  padding: 1.2rem;
  border-radius: 0.8rem;
}

.logoLink:hover {
  filter: brightness(80%);
}

.menuLink svg {
  width: 2.4rem;
  height: 2.4rem;
}
