.iconTitle {
  width: 22px;
  height: 22px;
  color: #e53935;
}

.iconError {
  width: 22px;
  height: 22px;
  color: #e53935;
}

.iconCompass {
  width: 22px;
  height: 22px;
  color: #1e88e5;
}

.iconHelp {
  width: 22px;
  height: 22px;
  color: #6b7280;
}

.iconText {
  width: 20px;
  height: 20px;
  opacity: 0.7;
}
