.cycles {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  flex-direction: column;
  justify-content: center;
}
.cyclesDots {
  display: flex;
  gap: 0.8rem;
}
.cyclesDot {
  width: 2rem;
  height: 2rem;
  background-color: var(--primary);
  border-radius: 50%;
}

.workTime {
  background-color: var(--warning);
}
.shortBreakTime {
  background-color: var(--primary);
}
.longBreakTime {
  background-color: var(--info);
}
