.iconBase {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}


.iconTitle {
  width: 22px;
  height: 22px;
  color: #e53935; 
}


.iconRocket {
  color: #ff6d00;
}


.iconSection {
  width: 18px;
  height: 18px;
  opacity: 0.85;
}

.focusDot {
  color: #f4c430;
}

.shortBreakDot {
  color: #34a853;
}

.longBreakDot {
  color: #4285f4; 
}


.iconCheck {
  width: 18px;
  height: 18px;
  color: #34a853;
}

.iconEnd {
  width: 22px;
  height: 22px;
  color: #555;
  opacity: 0.9;
}
